/* Body Properties */
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
body {
    background: linear-gradient(90deg, #222831, #393E46, #3282B8, #BBE1FA);
	background-size: 250% 250%;
	animation: gradient 5s ease infinite;
    height: auto;
    color: white;
    font-family: 'Shadows Into Light';
    text-align: center;
}

/* Section Properties */
section {
    display: flex;
    justify-content: space-evenly;
    place-items: center;
    align-content: center;
    margin-top: 50px;
    margin-bottom: 300px;
}

/* Font Properties */
.heading {
    font-size: 4vw;
}
.text {
    font-size: 3vw;
}

/* Gradient Background */
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* Reveal Animation */
.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 3s;
}
.show {
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0);
}

/* NavBar */
.navbar {
    background: linear-gradient(90deg, #222831, #393E46, #3282B8, #BBE1FA);
	background-size: 250% 250%;
	animation: gradient 5s ease infinite;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 999;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    font-size: 3rem;
}
.navbar-menu {
    display: flex;
    align-items: center;
    text-align: center;
    list-style: none;
    margin-top: 100px;
    margin-bottom: 100px;
}
.navbar-items {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0rem 3.5rem;
    height: 100%;
}
.navbar-items:hover {
    color: #4cc9f0;
}

/* Main Image Properties */
.main-image {
    position: relative;
    top: 0px;
    left: 0px;
}
.face {
    position: relative;
    height: 500px;
    width: 500px;
    max-width: 100%;
    border-radius: 30%;
}
.emoji {
    position: absolute;
    top: 350px;
    left: 0px;
    height: 150px;
    width: 150px;
    max-width: 100%;
}
@keyframes bounce {
    0%, 20%, 60%, 80%, 100% {
        transform: translateY(0px);
    }

    40% {
        transform: translateY(-50px);
    }

    50% {
        transform: translateY(20px);
    }
}
.bounce {
    animation-name: bounce;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}

/* Toolbox Properties */
.toolbox-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.square {
    height: 200px;
    width: 200px;
    max-width: 100%;
}
.logo {
    background-color: grey;
    border-radius: 30%;
    padding: 25px;
    margin: 0 0.5rem;
}
.logo:nth-child(2) {
    transition-delay: 200ms;
}
.logo:nth-child(3) {
    transition-delay: 400ms;
}
.logo:nth-child(4) {
    transition-delay: 600ms;
}
.logo:nth-child(5) {
    transition-delay: 800ms;
}
.logo:nth-child(6) {
    transition-delay: 1000ms;
}
.logo-overlay {
    position: absolute;
    border-radius: 30%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}
.logo:hover .logo-overlay, .logo:focus .logo-overlay, logo:active .logo-overlay {
    opacity: 1;
}
.logo-text {
    color: white;
    font-size: 3vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* Projects Section Properties */
.projects-container {
    display: flex;
    justify-content: space-around;  
}
.project-card {
    background-color: #222831;
    border-radius: 100px;
    width: 30%;
}
.project-screenshot {
    width: 100%;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}
.project-details {
    padding: 1rem;
    font-size: 1.5rem;
}
.project-buttons {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}
.project-button {
    padding: 1rem 2rem;
    background-color: #3282B8;
    color: #fff;
    text-decoration: none;
    border-radius: 25px;
    transition: background-color 0.3s;
}
.project-button:hover {
    background-color: #4cc9f0;
}

/* Contact Section Properties */
.contact-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.contact-box {
    background: white;
    padding: 2rem;
    border-radius: 25px;
    width: 80%;
}
.input-row {
    display:flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.input-row .input-group {
    flex-basis: 45%;
}
.contact-button {
    margin-top: 50px;
    padding: 1rem 2rem;
    border: 0px;
    background-color: #3282B8;
    color: #fff;
    text-decoration: none;
    border-radius: 25px;
    transition: background-color 0.3s;
    font-family: 'Shadows Into Light';
    font-size: 1.5rem;
}
label {
    margin-bottom: 6px;
    display: block; 
    color: #3282B8;
    font-family: 'Shadows Into Light';
    font-size: 1.5rem;
}
input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
    font-family: 'Shadows Into Light';
    font-size: 1.25rem;
}
textarea {
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
    font-family: 'Shadows Into Light';
    font-size: 1.25rem;
}

/* Footer Properties */
.footer {
    margin-top: 100px;
    margin-bottom: 100px;
}

/* Gallery Properties */
#gallery-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.gallery-header {
    background-color: #222831;
    border-radius: 50px;
    width: 90%;
    margin: 40px 0;
    padding: 40px 20px;
    text-align: center;
    color: #fff;
    font-size: 3vw;
}
.comparison {
    display: flex;
    justify-content: space-between;
}
.comparison-text {
    font-size: 3vw;
    margin-bottom: 30px;
}
.comparison-image {
    max-height: 330px;
    border-radius: 100px;
    margin-bottom: 30px;
}

/* Mobile View */
@media (max-width: 800px) {
    .navbar {
        height: 75px;
    }
    .navbar-menu {
        background: linear-gradient(90deg, #222831, #393E46, #3282B8, #BBE1FA);
        background-size: 250% 250%;
        animation: gradient 5s ease infinite;
        border-radius: 10%;
        display: grid;
        position: absolute;
        width: 90%;
        top: -1000px;
        left: 0px;
        transition: all 0.5s ease;
        font-size: 2.5rem;
    }
    .navbar-menu.active {
        top: -50%;
    }
    .navbar-toggle .bar {
        display: block;
        cursor: pointer;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }
    .navbar-items {
        display: table;
        width: 55%;
        margin-bottom: 10px;
    }
    #mobile-menu {
        position: absolute;
        top: 25%;
        left: 10%;
    }
    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .main-container {
        flex-direction: column;
        margin-top: 0px;
    }
    .toolbox-container {
        flex-direction: column;
    }
    .projects-container {
        flex-direction: column;
    }
    .project-card {
        border-radius: 50px;
        width: 80%;
        margin: auto;
    }
    .project-screenshot {
        width: 100%;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
    }
    .project-details {
        padding: 1rem;
        font-size: 1rem;
    }
    .project-buttons {
        padding: 1rem;
    }
    .project-button {
        padding: 0.5rem 1rem;
    }
    .heading {
        font-size: 8vw;
        margin-bottom: 50px;
    }
    .text {
        font-size: 6vw;
    }
    .face {
        position: relative;
        height: 300px;
        width: 300px;
        max-width: 100%;
        border-radius: 30%;
    }
    .emoji {
        position: absolute;
        top: 200px;
        left: 0px;
        height: 100px;
        width: 100px;
        max-width: 100%;
    }
    .square {
        height: 100px;
        width: 100px;
        max-width: 100%;
    }
    .logo-text {
        font-size: 5vw;
    }
    .comparison-image {
        max-height: 100px;
        border-radius: 30px;
    }
}

